


<div class="body">
    <button (click)="fetchPeople()" class = "button">Find Details</button>

    <li *ngFor="let person of people$ | async" class = "item">Form id - {{ person.formId }}</li>
    <li *ngFor="let person of people$ | async" class = "item">lastChangedBy - {{ person.lastChangedBy }}</li>
    <li *ngFor="let person of people$ | async" class = "item">lastChangedDate - {{ person.lastChangedDate }}</li>
        <hr>
  <div class="example-container">
      <h2>form 1</h2>

      <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="todo1"
        [cdkDropListConnectedTo]="[doneList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of todo1" cdkDrag>{{item}}</div>
      </div>
    </div>

    <div class="example-container">
      <h2>form 2</h2>

      <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="todo2"
        [cdkDropListConnectedTo]="[doneList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of todo2" cdkDrag>{{item}}</div>
      </div>
    </div>

    <div class="example-container">
      <h2>form 3</h2>
      <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="todo3"
        [cdkDropListConnectedTo]="[doneList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of todo3" cdkDrag>{{item}}</div>
      </div>
    </div>

    <div class="example-container">
      <h2>form 4</h2>
      <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="todo4"
        [cdkDropListConnectedTo]="[doneList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of todo4" cdkDrag>{{item}}</div>
      </div>
    </div>

    <div class="example-container">
      <h2>form 5</h2>
      <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="todo5"
        [cdkDropListConnectedTo]="[doneList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of todo5" cdkDrag>{{item}}</div>
      </div>
    </div>

    <div class="example-container">
      <h2>form 6</h2>
      <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="todo6"
        [cdkDropListConnectedTo]="[doneList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of todo6" cdkDrag>{{item}}</div>
      </div>
    </div>


    <div class="example-container">
      <h2>DRAG ITEMS HERE</h2>

      <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[todoList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
      </div>
    </div>
</div>  